html{
    background-color: black;
}
body{
    background-image: url("../imgs/roulette.jpg");
}
.section1{
    display: inline-block;
}
#balance{
   margin-right: 100px;
   font-family: 'Dancing Script', cursive;
   color: black;
   font-size: xx-large;

}
#enterbet{
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Times New Roman', Times, serif;
}
#currentbet{
    margin-left: 50px;
    width: 150px;
    height: 100px;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    color: gold;
    
}
#header{
    background-color: black;
    font-family: 'Dancing Script', cursive;
    color: gold;
}
#subsection1{
    display: inline-flex;
    align-items: center;
    margin-left: 175px;
}
#wheel{
    width: 300px;
    height: 300px;
    border: 5px solid black;
    margin: auto;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    
}
#spinwheel{
    display: flex;
    margin: auto;
    width: 150px;
    justify-content: center;
    padding: 15px;
    margin-top: 20px;
}
#placebet{
    display: flex;
    margin: 5px auto;
}
#resetwheel{
    display: flex;
    margin: 5px auto;
}
.gameboard{
    margin: 10px auto;
    border: 5px solid black;
    width: 60vw;
    height: 20vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
    border-radius: 2%;
    margin-bottom: 20px;
    row-gap: 3px;
    column-gap: 3px;
    
}
#boardtitle{
    text-align: center;
    margin-top: 50px;
    color: gold;
    font-family: monospace;
    font-size: xx-large;
}
.number{
    color: whitesmoke;
    font-size: large;
    text-align: center;
}
.number1{
    background-color: red;
}
.number13{
    background-color: black;
}
.number25{
    background-color: red;
}
.number2{
    background-color: black;
}
.number14{
    background-color: red;
}
.number26{
    background-color: black;
}
.number3{
    background-color: red;
}
.number15{
    background-color: black;
}
.number27{
    background-color: red;
}
.number4{
    background-color: red;
}
.number16{
    background-color: black;
}
.number28{
    background-color: black;
}
.number5{
    background-color: black;
}
.number17{
    background-color: red;
}
.number29{
    background-color: black;
}
.number6{
    background-color: red;
}
.number18{
    background-color: black;
}
.number30{
    background-color: red;
}
.number7{
    background-color: red;
}
.number19{
    background-color: black;
}
.number31{
    background-color: red;
}
.number8{
    background-color: black;
}
.number20{
    background-color: red;
}
.number32{
    background-color: black;
}
.number9{
    background-color: red;
}
.number21{
    background-color: black;
}
.number33{
    background-color: red;
}
.number10{
    background-color: red;
}
.number22{
    background-color: black;
}
.number34{
    background-color: black;
}
.number11{
    background-color: black;
}
.number23{
    background-color: red;
}
.number35{
    background-color: black;
}
.number12{
    background-color: red;
}
.number24{
    background-color: black;
}
.number36{
    background-color: red;
}
.number:active{
    background-color: gold;
}